* {
	font-family: 'Overlock', cursive;
}

body {
	background-image: url("skyscraper-450793_960_720.jpg");
}

.topTitle {
	background: rgba(255, 255, 255, 0.7);
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.tenant {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}


.fa-trash {
	margin-left: 10px;
}

h1 {
	/*margin-left: 500px;*/
	text-align: center;
	font-weight: 900;
}

h2 {
	text-align: center;
	/*margin-left: 550px;*/
}

input {
	margin-bottom: 15px;
}

.addUser {
	text-align: center;
}


.accordion {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}
.accordion input {
	display: none;
}
.box {
	position: relative;
	background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.box {
	background: #00BCD4;
	z-index: 100;
	cursor: initial;
	box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
	margin: 0;
	font-weight: bold;
	font-size: 16pt;
	color: black;
	cursor: initial;
	background: #647979;
}
.box-title {
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: calc(100% - 40px);
	padding: 30px 20px;
	font-size: 11pt;
	color: rgba(0,0,0,.54);
	display: none;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);
}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

.easy-modal,
	.easy-modal-animated {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		padding: 2em;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
		background-color: white;
	}

.leftModal {
	float: left;
	width: 48%;
}

.rightModal {
	float: left;
	width: 48%;
}

.fa-trash {
    float: right;
    color: black;
    visibility: visible;
    cursor: pointer;
}



input.click:empty
{
    margin-left: -999px;
}

input.click:empty ~ label
{
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.click:empty ~ label:before, 
input.click:empty ~ label:after
{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #c33;
    border-radius: 0.3em;
    box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
    -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

input.click:empty ~ label:after
{
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 0.15em;
    box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.click:checked ~ label:before
{
    background-color: #393;
}

input.click:checked ~ label:after
{
    margin-left: 2.1em;
}
